body {
    background-color: #646363;
    color: white;
}

#ad-panel {
    display: none;
}

#workarea {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10vh 0;
    box-sizing: border-box;
}

#workarea .navigator {
    position: absolute;
    width: 100%;
    height: 80vh;
}

#workarea .navigator .previous-page,
#workarea .navigator .next-page {
    position:absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: rgba(100, 99, 99, 0.52);
    padding: 10px;
    border-radius: 50%;
}
#workarea .navigator .previous-page {
    left: 0;
}
#workarea .navigator .next-page {
    right: 0;
}

#workarea .navigator *[disabled] {
    opacity: 0;
}

#workarea .current-position {
    position:absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -5vh;
}

#workarea::after {
    content: "mContent Platform. All rights Reserved";
    font-size: 13px;
    position:absolute;
    bottom: 0;
    width:100%;
    text-align: center;
}

#workarea img {
    height: 100%;
    width: 100% !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#workarea img[hidden] {
    display: none;
}

#user-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
}

.content-image {
    width: 90vw;
    height: 80vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
