@font-face {
    font-family: Ardeco;
    src: url(../fonts/Ardeco-webfont.ttf);
}

.themed-content {
    background-color: #EFDEEF;
}

.themed-content .ad-panel {
    width: 100%;
    height: 38vw;
    background-image: url("../ad/topmen.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.themed-content .workarea {
    width: 90vw;
    overflow-x: hidden;
    padding: 5vw;
    font-family: "Times New Roman", serif;
    color: #3C3C3C;
}


.themed-content .workarea h1 {
    font-family: Ardeco;
    color: #721872;
}

.themed-content .workarea .content-image img {
    background-size:contain;
    box-shadow: 0px 0px 10px #721872;
}

.themed-content .user-menu {
    width: 100%;
    height: 30px;
    color: black;
    border-top: 1px solid black;
}
.themed-content .user-menu .user-menu-content {
    margin-bottom: 10px;
}

.themed-content .user-menu::after {
    content: "mContent Platform. All rights Reserved";
    font-size: 13px;
}

.themed-content img {
    width: 50%;
}

@media(max-width: 320px) {
    .themed-content img {
        width: 100% !important;
    }
}