.themed-content {
    margin: 0 auto 10px auto;
    max-width: 728px;
    width: 100%;
}

.themed-content .content {
    background: white;
    width: 100%;
}

.themed-content .workarea {
    padding: 20px 30px 50px 30px;
}

.themed-content .workarea img {
    height: 100%;
    width: 100% !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}



