body {min-width: 1004px;}

#header {
    position: relative;
    top: 0;
    width: 100vw;
    height: 106px;
    background-color: darkgrey;
    z-index: 2;
}
#menu {
    float: left;
}

#session-control {
    float: right;
    clear: right;
}

#session-control > * {
    float: left;
}

#workarea {
    clear: both;
    padding: 10px;
}

.content-menu {
    clear: left;
    float: left;
    padding-right: 20px;
}

form[name='content-form']{
    float: left;
}

#previewers {
    float: left;
    margin-left: 20px;
}

#previewers > div {
    margin-bottom: 20px;
    float: left;
    clear: left;
}

#previewers .previewer-content {
    overflow: hidden;
    position: relative;
}

#previewers > div {
    background: linear-gradient(to bottom, #5d5d5d 0%, #292929 100%);
}

#previewers .ad-panel {
    position: relative;
    display: block !important;
}

#previewers .ad-panel:empty {
    background-color: #e4e4e4;
}

#previewers .ad-panel:after {
    content: 'AD PANEL';
    font-size: 1.4rem;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#previewers .themed-content-comic .workarea {
    position: relative;
}

#previewers.themed-content.comics .workarea:not(:first-child) img {
    display: none;
}

#previewers .themed-content .user-menu {
    text-align: center;
    padding: 10px 0;
    color: white;
    position: relative;
}

#previewers .themed-content .user-menu a {
    padding: 0px .2rem;
    font-size: .8rem;
    color: white;
    text-decoration: inherit;
    cursor: pointer;
}

#previewers .themed-content .user-menu a:hover {
    text-decoration: underline;
}

#previewers .themed-content .user-menu .copy {
    font-size: .7rem;
    color: #aaa;
}


.iphone-previewer {
    border: 10px solid black;
    border-top-width: 39px;
    border-bottom-width: 65px;
    border-radius: 19px;
    zoom: 0.4;
}

.iphone-previewer > .preview-device-screen {
    width: 320px;
    height: 568px;
}

.iphone-previewer .themed-content .ad-panel {
        height: 72px;
        width: 100%;
}

.iphone-previewer .themed-content.comics .workarea {
    height: calc(568px - (1.2rem + 90px));
    top: 0;
}

.iphone-previewer .themed-content.comics .workarea .content-image {
    width: 100%;
}

.ipad-previewer {
    border: 10px solid black;
    border-left-width: 39px;
    border-right-width: 65px;
    border-radius: 19px;
    zoom: 0.4;
}

.ipad-previewer > .preview-device-screen {
    width: 1024px;
    height: 768px;
}

.ipad-previewer .themed-content .ad-panel {
    height: 90px;
    width: 728px;
    margin: 0 auto;
}

.ipad-previewer .themed-content.comics .workarea {
    height: calc(768px - (1.9rem + 90px));
    top: 0;
}

.ipad-previewer .themed-content.comics .workarea .content-image {
    width: calc(100% - 9rem);
}

.note-editor {
    min-height: 300px;
    width: 808px;
}

.message-preview {
    width: 27em;
    background: #E9E8E8;
    word-wrap: break-word;
    padding: 20px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 1em;
}

.alert {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 30px;
    font-size: 1.5em;
    pointer-events: none;
    z-index: 999;
}

.alert-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.3);
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 1.25s linear;
    -moz-transition: opacity 1.25s linear;
    -ms-transition: opacity 1.25s linear;
    -o-transition: opacity 1.25s linear;
    transition: opacity 1.25s linear;
}

.logo {
    background-image: url("../img/3wc_logo_white.svg");
    width: 100px;
    height: 88px;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.logo:hover {
    background-image: url("../img/3wc_logo.svg");
}

span.appname {
    position: absolute;
    left: 9px;
    top: 74px;
    font-size: 1.3em;
    color: white;
}

a.pure-menu-link {
    line-height: 90px;
}

li.pure-menu-item {
    border-right: solid 1px white;
    margin-left: -4px;
}

li.pure-menu-item {}
li.pure-menu-item:last-child {
    border-right: none;
}

ul.pure-menu-children .pure-menu-link {
    line-height: 25px;
    background: lightgray;
}

span.form-error {
    color: red;
    font-size: 1.2em;
    float: left;
    padding: 10px 0;
}

span.form-warning {
    float: left;
    font-size: 1.2em;
    padding: 10px 0;
}