#login-container {
    width: 400px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-container legend {
    font-size: 2em;
    color: silver;
}

#login-container button.btn {
    width: 70%;
    height: 2em;
    margin: 10px 15% 0;
    font-size: 1.5em;
    background-color: #4CAF50;
    color: white;
    border-radius: 30px;
    border: none;
}

#login-container button.btn:hover {
    background-color: #8BC34A;
}

#login-container input {
    width: 80%;
    margin: 5px 10% 15px;
    height: 1.5em;
    border-radius: 10px;
    padding: 6px 0;
    text-align: center;
    font-size: 1.2em;
}

#login-container fieldset {
    padding: 20px 20px 40px;
    border-radius: 10px;
    margin-top: 20px;
}

#login-container .logo {
    background-image: url(../img/3wc_logo.svg);
    width: 400px;
    height: 200px;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
}

#login-container .title {
    width: 400px;
    display: block;
    text-align: center;
    font-size: 3em;
}

#login-container .subtitle {
    width: 400px;
    display: block;
    text-align: center;
    font-size: 1.3em;
    color: silver;
}