/*
    Created on : Sep 29, 2015, 11:14:33 AM
    Author     : Marko Tuononen <marko.tuononen at nolwenture.com>
    Edited     : Pasi Saukkonen <pasi.saukkonen at nolwenture.com>
*/
body {
    padding: 10px;
}

form#savelogin {
    max-width: 600px;
    margin: 0 auto;
}

form#savelogin > .form-fields > fieldset {
    border-top: 3px solid #40d3f7;
    margin-top: 30px;
    position: relative;
}

form#savelogin > .form-fields > fieldset > legend {
    font-size: 17px;
    position: absolute;
    margin-top: -30px;
}


form#savelogin fieldset {
    border: none;
    margin: .5em 0;
    padding-left: 0;
}

form#savelogin fieldset > legend {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #626262;
}

form#savelogin fieldset > div {
    display: inline-block;
    float: left;
    width: 40%;
    min-height: 30px;
    margin: 0 4%;
}

form#savelogin fieldset > div > input,
form#savelogin fieldset > div > select {
    width: 100%;
    font-size: 13px;
}

form#savelogin fieldset > div > ul {
    margin: 0;
}

form#savelogin fieldset > div > input[type='file'] {
    background-color: black;
    position: absolute;
    width: 116px;
    height: 33px;
    opacity: 0;
}

form#savelogin fieldset p {
    font-size: 12px;
    color: #626262;
}
div#selectedFiles {
    font-size: 12px;
    color: #626262;
}


label.file-button-label,
form#savelogin button {
    background-color: #40d3f7;
    border: none;
    color: white;
    padding: 8px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: left;
    font-size: 14px;
    margin: 4px 15px 0 0;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    form#savelogin fieldset > div {
        width: 100%;
        margin: 0;
    }
}

#success-container {
    width: 400px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#success-container legend {
    font-size: 2em;
    color: silver;
}

#success-container .message {
    margin: 3% 0 10% 0;
}

#success-container button.btn {
    width: 70%;
    height: 2em;
    margin: 10px 15% 0;
    font-size: 1.0em;
    background-color: #4CAF50;
    color: white;
    border-radius: 30px;
    border: none;
}

#success-container button.btn:hover {
    background-color: #8BC34A;
}

#success-container fieldset {
    text-align: center;
    padding: 20px 20px 40px;
    border-radius: 10px;
    margin-top: 20px;
}

#success-container .logo {
    background-image: url(../img/3wc_logo.svg);
    width: 400px;
    height: 200px;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
}

#success-container .title {
    width: 400px;
    display: block;
    text-align: center;
    font-size: 3em;
}

#success-container .subtitle {
    width: 400px;
    display: block;
    text-align: center;
    font-size: 1.3em;
    color: silver;
}