/*
    Created on : Sep 29, 2015, 11:14:33 AM
    Author     : Marko Tuononen <marko.tuononen at nolwenture.com>
    Edited     : Pasi Saukkonen <pasi.saukkonen at nolwenture.com>
*/
fieldset fieldset {
    /* TODO */
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
