.alert {
    float: left;
    clear: both;
    margin: 5px 0 30px;
}

form[name='show-login-form'] {
    margin: 20px 0 0 0;
}

form[name='show-login-form'] input[type="text"] {
    width: 100%;
    padding: 15px 20px;
    border-radius: 30px;
}

form[name='show-login-form'] button.btn {
    width: 70%;
    padding: 10px;
    border-radius: 30px;
    background-color: transparent;
    margin-top:30px;
    margin: 10px 15% 0;
}