body {
    max-width: 800px;
    margin: 0 auto;
}

#user-menu {
    text-align: center;
    padding: 10px 0;
}

#user-menu a {
    padding: 0px 1.2vw;
    font-size: 13px;
    color: inherit;
    text-decoration: inherit;
}