body {
    margin: 0 auto;
}

#user-menu {
    text-align: center;
    padding: 10px 0;
}

#user-menu a {
    padding: 0px 1.2vw;
    font-size: 4vw;
    color: inherit;
    text-decoration: inherit;
}

@media screen and (orientation:landscape) {
    #user-menu a {
        padding: 0px 1.2vw;
        font-size: 4vh;
    }
}