.alert {
    float: left;
    clear: both;
    margin: 5px 0 30px;
}

form[name='show-login-form'] {
    margin: 20px 0 0 0;
}

form[name='show-login-form'] input[type="text"] {
    width: 100%;
    padding: 15px 20px;
    border-radius: 30px;
}

form[name='show-login-form'] button.btn {
    padding: 10px 10%;
    border-radius: 30px;
    background-color: transparent;
    margin: 10px auto;
    display: block;
}

form[name='show-login-form'] a.button-link {
    color: white;
    background-color: rgb(38, 210, 38);
    padding: .3em .4em;
    border-radius: 6px;
}

form[name='show-login-form'] div.compact {
    margin: 3px 0px;
}

