<h1 th:inline="text">Delivery pipe list</h1>

<div class="delivery-pipe-list" th:unless="${#lists.isEmpty(allDeliveryPipes)}">
    <div class="form-fields">
        <label th:text="#{deliverypipe.name}">Name</label>
        <input id="nameFilter" name="nameFilter" type="text" th:value="${nameFilter}" required="false"/>
        <a class="search-pipes pure-button" th:href="@{|${baseUrl}/1|}" th:text="#{general.search}">Search</a>
    </div>

    <ul class="pagination">
        <li th:class="${currentIndex == 1}? 'disabled' : '' ">
            <span th:if='${currentIndex == 1}'>First</span>
            <a class="linktopage" th:if='${currentIndex != 1}'
               th:href="@{|${baseUrl}/1|}"
               title='Go to first page'>First</a>
        </li>

        <li th:class="${currentIndex != 1}? '' : 'disabled' ">
            <span th:if='${currentIndex == 1}'>&lt;&lt;</span>
            <a class="linktopage" th:if='${currentIndex != 1}'
               th:href="@{|${baseUrl}/${currentIndex - 1}|}"
               title='Go to previous page'>&lt;&lt;</a>
        </li>

        <li th:each="item : ${#numbers.sequence(beginIndex, endIndex)}"
            th:class="${item == currentIndex ? 'active' : ''}">
            <span
                th:if='${item == currentIndex}' th:text='${item}'>1</span>
                <a class="linktopage" th:if='${item != currentIndex}'

                  th:href="@{|${baseUrl}/${item}|}">
                <span th:text='${item}'>1</span>
                </a>
        </li>

        <li th:class="${currentIndex != totalPageCount}? '' : 'disabled' ">
            <span th:if='${currentIndex == totalPageCount}'>&gt;&gt;</span>
            <a class="linktopage" th:if='${currentIndex != totalPageCount}'
               th:href="@{|${baseUrl}/${currentIndex + 1}|}"
               title='Go to next page'>&gt;&gt;</a>
        </li>

        <li th:class="${currentIndex == totalPageCount}? 'disabled' : '' ">
            <span th:if='${currentIndex == totalPageCount}'>Last</span>
            <a class="linktopage" th:if='${currentIndex != totalPageCount}'
               th:href="@{|${baseUrl}/${totalPageCount}|}"
               title='Go to last page'>Last</a>
        </li>

    </ul>

    <table class="pure-table table-striped table-bordered">
        <thead>
            <tr>
                <th th:text="#{deliverypipe.name}">Name</th>
                <th th:text="#{deliverypipe.type}">Type</th>
                <th th:text="#{deliverypipe.theme}">Theme</th>
                <th th:text="#{deliverypipe.providerCount}">Providers</th>
                <th th:text="#{deliverypipe.contentCount}">Contents</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="deliveryPipe : (${filteredDeliveryPipes}? ${filteredDeliveryPipes} : ${allDeliveryPipes})">
                <td th:text="${deliveryPipe.name}">NAME</td>
                <td th:text="${deliveryPipe.deliverableType}">TYPE</td>
                <td th:text="${deliveryPipe.theme}">THEME</td>
                <td th:text="${deliveryPipe.providerCount}">0</td>
                <td th:text="${deliveryPipe.contentCount}">0</td>
                <td><!-- icon (?) -->
                    <a class="edit-pipe pure-button" sec:authorize="hasRole('ADMIN')"
                       th:href="@{|/deliverypipe/${deliveryPipe.id}|}"
                       th:text="#{general.edit}">Edit</a>
                    <a class="edit-content pure-button" sec:authorize="hasAnyRole('ADMIN','PROVIDER')"
                       th:href="@{|/deliverypipe/${deliveryPipe.id}/content/list|}"
                       th:text="#{deliverypipe.viewcontent}">View content</a>
                    <a class="del-pipe pure-button" sec:authorize="hasAnyRole('ADMIN','PROVIDER')"
                       th:href="@{|/deliverypipe/remove/${deliveryPipe.id}|}"
                       th:text="#{general.remove}">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br/>
<div sec:authorize="hasRole('ADMIN')" class="">
    <a class="create-pipe pure-button"
       th:href="@{/deliverypipe/create}"
       th:text="#{general.createNew}">Create new</a>
</div>
<script sec:authorize="hasAnyRole('ADMIN','PROVIDER')">
    $(".create-pipe").click(function() {
        event.preventDefault();
        mContent.popup.load('Create delivery pipe', $(this).attr("href"));
        return false;
    });
    $(".search-pipes").click(function() {
        event.preventDefault();
        $.ajax({
            type: "GET",
            data: {
                "nameFilter" : document.getElementById("nameFilter").value
            },
            url: $(this).attr("href"),
            success: function(data) {
                $("#workarea").html("").append(data);
            }
        });
        return false;
    });
    $(".edit-pipe").click(function() {
        event.preventDefault();
        mContent.popup.load('Edit delivery pipe', $(this).attr("href"));
        return false;
    });
    $(".del-pipe").click(function() {
        event.preventDefault();
        mContent.popup.load('Remove delivery pipe', $(this).attr("href"));
        return false;
    });
    $(".edit-content").click(function(event) {
        event.preventDefault();
        mContent.loaders.workArea($(this).attr("href"));
        return false;
    });
    $(".linktopage").click(function(event) {
        event.preventDefault();
        mContent.loaders.workArea($(this).attr("href"));
        return false;
    });
</script>