<h1 th:inline="text">[[${deliveryPipe.name}]] content</h1>
<div class="content-menu">
    <table class="pure-table" th:unless="${#lists.isEmpty(contents)}">
        <thead>
            <tr>
                <th th:text="#{deliverable.title}">Title</th>
                <th th:text="#{deliverable.status}">Status</th>
                <th sec:authorize="hasRole('ADMIN')">&nbsp;</th>
                <th sec:authorize="hasAnyRole('ADMIN','PROVIDER')">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="content : ${contents}">
                <td th:text="${content.content.title}">Title</td>
                <td th:text="${content.status}">Status</td>
                <td sec:authorize="hasRole('ADMIN')"><!-- icon (?) -->
                    <a th:href="@{|/deliverypipe/${deliveryPipe.id}/series/${content.id}/approve|}"
                       th:text="#{deliverable.status.approve}" onclick="callSimpleAction(this, event);">Approve</a>
                    <a th:href="@{|/deliverypipe/${deliveryPipe.id}/series/${content.id}/disapprove|}"
                       th:text="#{deliverable.status.disapprove}" onclick="callSimpleAction(this, event);">Disapprove</a>
                </td>
                <td sec:authorize="hasAnyRole('ADMIN','PROVIDER')">
                    <a th:unless="${content.status == T(com.mnewservice.mcontent.domain.DeliverableStatus).APPROVED}"
                       th:href="@{|/deliverypipe/${deliveryPipe.id}/series/${content.id}|}"
                       th:text="#{general.edit}" onclick="loadToContentEditor(this, event);">Edit</a>
                    <a th:if="${content.status == T(com.mnewservice.mcontent.domain.DeliverableStatus).APPROVED}"
                       th:href="@{|/deliverypipe/${deliveryPipe.id}/series/${content.id}|}"
                       th:text="#{general.view}" onclick="loadToContentEditor(this, event);">View</a>
                </td>

            </tr>
        </tbody>
    </table>
    <a sec:authorize="hasAnyRole('ADMIN','PROVIDER')" th:href="@{|/deliverypipe/${deliveryPipe.id}/series/create|}"
       th:text="#{general.add}" onclick="loadToContentEditor(this, event);">Add new</a>
</div>
<div id="content-editor"></div>