<h1 th:inline="text">[[${deliveryPipe.name}]] content</h1>
<div class="content-menu">
    <table class="pure-table" th:unless="${#lists.isEmpty(contents)}">
        <thead>
            <tr>
                <th th:text="#{deliverable.title}">Title</th>
                <th th:text="#{deliverable.status}">Status</th>
                <th sec:authorize="hasRole('ADMIN')">&nbsp;</th>
                <th sec:authorize="hasAnyRole('ADMIN','PROVIDER')">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="content : ${contents}">
                <td th:text="${content.content.title}">Title</td>
                <td th:text="${content.status}">Status</td>
                <td sec:authorize="hasRole('ADMIN')"><!-- icon (?) -->
                    <a class="approve pure-button" th:if="${content.status != T(com.mnewservice.mcontent.domain.DeliverableStatus).APPROVED}" th:href="@{|/deliverypipe/${deliveryPipe.id}/series/${content.id}/approve|}"
                       th:text="#{deliverable.status.approve}">Approve</a>
                    <a class="disapprove pure-button" th:if="${content.status != T(com.mnewservice.mcontent.domain.DeliverableStatus).PENDING_APPROVAL}" th:href="@{|/deliverypipe/${deliveryPipe.id}/series/${content.id}/disapprove|}"
                       th:text="#{deliverable.status.disapprove}">Disapprove</a>
                </td>
                <td sec:authorize="hasAnyRole('ADMIN','PROVIDER')">
                    <a class="edit-content pure-button" th:if="${content.status != T(com.mnewservice.mcontent.domain.DeliverableStatus).APPROVED}"
                       th:href="@{|/deliverypipe/${deliveryPipe.id}/series/${content.id}|}"
                       th:text="#{general.edit}">Edit</a>
                    <a class="view-content pure-button" th:if="${content.status == T(com.mnewservice.mcontent.domain.DeliverableStatus).APPROVED}"
                       th:href="@{|/deliverypipe/${deliveryPipe.id}/series/${content.id}|}"
                       th:text="#{general.view}">View</a>
                    <a class="del-content pure-button" sec:authorize="hasRole('ADMIN')"
                       th:href="@{|/deliverypipe/${deliveryPipe.id}/series/remove/${content.id}|}"
                       th:text="#{general.remove}">Delete</a>
                </td>

            </tr>
        </tbody>
    </table>
    <br/>
    <a class="create-content pure-button" sec:authorize="hasAnyRole('ADMIN','PROVIDER')" th:href="@{|/deliverypipe/${deliveryPipe.id}/series/create|}"
       th:text="#{general.add}">Add new</a>
</div>
<div id="content-editor"></div>
<script sec:authorize="hasRole('ADMIN')" th:inline="javascript">

    var deliveryPipeContentListUrl = /*[[@{|/deliverypipe/${deliveryPipe.id}/content/list|}]]*/;

    $(".approve").click(function (event) {
        event.preventDefault();
        mContent.ajax.get($(this).attr('href'), function (data) {
            mContent.notify("Content approved.", "info");
            mContent.loaders.workArea(deliveryPipeContentListUrl);
        }, function (error) {
            console.log(error);
            mContent.notify("Failed to approve content.", "warning");
            mContent.loaders.workArea(deliveryPipeContentListUrl);
        });
        return false;
    });

    $(".disapprove").click(function (event) {
        event.preventDefault();
        mContent.ajax.get($(this).attr('href'), function (data) {
            mContent.notify("Content disapproved.", "info");
            mContent.loaders.workArea(deliveryPipeContentListUrl);
        }, function (error) {
            console.log(error);
            mContent.notify("Failed to disapprove content.", "warning");
            mContent.loaders.workArea(deliveryPipeContentListUrl);
        });
        return false;
    });
</script>

<script sec:authorize="hasAnyRole('ADMIN','PROVIDER')">

    $(".create-content, .edit-content, .view-content").click(function (event) {
        event.preventDefault();
        mContent.loaders.contentEditor($(this).attr('href'));
        return false;
    });
</script>

<script sec:authorize="hasAnyRole('ADMIN','PROVIDER')">

    $(".del-content").click(function (event) {
        event.preventDefault();
        mContent.popup.load('Remove series content', $(this).attr("href"));
        return false;
    });
</script>