<h1 th:inline="text">Delivery pipe list</h1>
<div sec:authorize="hasRole('ADMIN')">
    <!-- style to look like a button (?) -->
    <a class="create-pipe"
       th:href="@{/deliverypipe/create}"
       th:text="#{general.createNew}">Create new</a>
</div>
<div class="delivery-pipe-list" th:unless="${#lists.isEmpty(allDeliveryPipes)}">
    <table class="pure-table">
        <thead>
            <tr>
                <th th:text="#{deliverypipe.name}">Name</th>
                <th th:text="#{deliverypipe.type}">Type</th>
                <th th:text="#{deliverypipe.contentstatus}">Content status</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="deliveryPipe : ${allDeliveryPipes}">
                <td th:text="${deliveryPipe.name}">NAME</td>
                <td th:text="${deliveryPipe.deliverableType}">TYPE</td>
                <td>0</td>
                <td><!-- icon (?) -->
                    <a class="edit-pipe" sec:authorize="hasRole('ADMIN')" th:href="@{|/deliverypipe/${deliveryPipe.id}|}"
                       th:text="#{general.edit}">Edit</a>
                    <a class="edit-content" sec:authorize="hasAnyRole('ADMIN','PROVIDER')" th:href="@{|/deliverypipe/${deliveryPipe.id}/content/list|}"
                       th:text="#{deliverypipe.viewcontent}">View content</a></td>
            </tr>
        </tbody>
    </table>
</div>
<script sec:authorize="hasAnyRole('ADMIN','PROVIDER')">
    $(".create-pipe").click(function() {
        event.preventDefault();
        mContent.popup.load('Create delivery pipe', $(this).attr("href"));
        return false;
    });
    $(".edit-pipe").click(function() {
        event.preventDefault();
        mContent.popup.load('Edit delivery pipe', $(this).attr("href"));
        return false;
    });
    $(".edit-content").click(function(event) {
        event.preventDefault();
        mContent.loaders.workArea($(this).attr("href"));
        return false;
    });
</script>