<h1 th:inline="text">[[${deliveryPipe.name}]] content</h1>
<div class="content-menu">
    <table class="pure-table" th:unless="${#lists.isEmpty(contents)}">
        <thead>
            <tr>
                <th th:text="#{deliverable.title}">Title</th>
                <th th:text="#{deliverable.status}">Status</th>
                <th sec:authorize="hasRole('ADMIN')">&nbsp;</th>
                <th sec:authorize="hasAnyRole('ADMIN','PROVIDER')">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="content : ${contents}">
                <td th:text="${content.content.title}">Title</td>
                <td th:text="${content.status}">Status</td>
                <td sec:authorize="hasRole('ADMIN')"><!-- icon (?) -->
                    <a class="approve pure-button" th:if="${content.status != T(com.mnewservice.mcontent.domain.DeliverableStatus).APPROVED}"
                       th:href="${content.id}"
                       th:text="#{deliverable.status.approve}">Approve</a>
                    <a class="disapprove pure-button" th:if="${content.status != T(com.mnewservice.mcontent.domain.DeliverableStatus).DISAPPROVED}"
                       th:href="${content.id}"
                       th:text="#{deliverable.status.disapprove}">Disapprove</a>
                </td>
                <td sec:authorize="hasAnyRole('ADMIN','PROVIDER')">
                    <a class="edit-content pure-button" th:if="${content.status != T(com.mnewservice.mcontent.domain.DeliverableStatus).APPROVED}"
                       th:href="${content.id}"
                       th:data-index="${content.deliveryDaysAfterSubscription}"
                       th:text="#{general.edit}">Edit</a>
                    <a class="view-content pure-button" th:if="${content.status == T(com.mnewservice.mcontent.domain.DeliverableStatus).APPROVED}"
                       th:href="${content.id}"
                       th:data-index="${content.deliveryDaysAfterSubscription}"
                       th:text="#{general.view}">View</a>
                    <a class="del-content pure-button" sec:authorize="hasRole('ADMIN')"
                       th:href="${content.id}"
                       th:text="#{general.remove}">Delete</a>
                </td>

            </tr>
        </tbody>
    </table>
    <br/>
    <a class="create-content pure-button" sec:authorize="hasAnyRole('ADMIN','PROVIDER')" th:text="#{general.add}">Add new</a>
</div>
<script sec:authorize="hasRole('ADMIN')" th:inline="javascript">

    var deliveryPipeContentListUrl = /*[[@{|/deliverypipe/${deliveryPipe.id}/content/list|}]]*/;
    var contentUrlBase = /*[[@{|/deliverypipe/${deliveryPipe.id}/series/|}]]*/;

    $(".approve").click(function (event) {
        event.preventDefault();
        mContent.ajax.get(contentUrlBase + $(this).attr('href') + '/approve', function (data) {
            mContent.alert.success("Content approved.");
            mContent.loaders.workArea(deliveryPipeContentListUrl);
        }, function (error) {
            console.log(error);
            mContent.alert.error("Failed to approve content.", error);
            mContent.loaders.workArea(deliveryPipeContentListUrl);
        });
        return false;
    });

    $(".disapprove").click(function (event) {
        event.preventDefault();
        mContent.ajax.get(contentUrlBase + $(this).attr('href') + '/disapprove', function (data) {
            mContent.alert.success("Content disapproved.");
            mContent.loaders.workArea(deliveryPipeContentListUrl);
        }, function (error) {
            console.log(error);
            mContent.alert.error("Failed to disapprove content.", error);
            mContent.loaders.workArea(deliveryPipeContentListUrl);
        });
        return false;
    });
</script>

<script sec:authorize="hasAnyRole('ADMIN','PROVIDER')" th:inline="javascript">
    var contentUrlBase = /*[[@{|/deliverypipe/${deliveryPipe.id}/series/|}]]*/;
    var deliveryPipeName = /*[[${deliveryPipe.name}]]*/;

    $(".create-content").click(function (event) {
        event.preventDefault();
        mContent.popup.load(deliveryPipeName + ' (#' + 'new' + ')', contentUrlBase + "create");
        return false;
    });

    $(".edit-content, .view-content").click(function (event) {
        event.preventDefault();
        mContent.popup.loadWide(deliveryPipeName + ' (#' + $(this).attr('data-index') + ')', contentUrlBase + $(this).attr('href'));
        return false;
    });

    $(".del-content").click(function (event) {
        event.preventDefault();
        mContent.popup.load('Remove series content', contentUrlBase + 'remove/' + $(this).attr("href"));
        return false;
    });
</script>