<h1 th:inline="text">[[${deliveryPipe.name}]] content</h1>
<div class="content-menu">
    <div class="calendar-menu"></div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var deliveryPipeContentListUrl = /*[[@{|/deliverypipe/${deliveryPipe.id}/content/list|}]]*/;
        var contentUrlBase = /*[[@{|/deliverypipe/${deliveryPipe.id}/scheduled/|}]]*/;

        function createContent(event) {
            event.preventDefault();
            mContent.loaders.contentEditor(contentUrlBase + "create?date=" + $.lastClickedScheduledDay.date._i);
            return false;
        };

        function editContent(event) {
            event.preventDefault();
            mContent.loaders.contentEditor(contentUrlBase + $.lastClickedScheduledDay.events[0].id);
            return false;
        };

        function removeContent(event) {
            event.preventDefault();
            //mContent.loaders.contentEditor(contentUrlBase + "remove/" + $.lastClickedScheduledDay.events[0].id);
            mContent.popup.load('Remove scheduled content', contentUrlBase + "remove/" + $.lastClickedScheduledDay.events[0].id);
            return false;
        };

        function changeStatus(event, cmnd) {
            // mContent.notify("command="+cmnd, "info");
            event.preventDefault();
            mContent.ajax.get(contentUrlBase + $.lastClickedScheduledDay.events[0].id + "/" + cmnd, function (data) {
                mContent.notify("Content " + cmnd + "d.", "info");
                mContent.loaders.workArea(deliveryPipeContentListUrl);
            }, function (error) {
                console.log(error);
                mContent.notify("Failed to "+cmnd+" content.", "warning");
                mContent.loaders.workArea(deliveryPipeContentListUrl);
            });
            return false;
        };

        // Obsoleted
        function approve(event) {
            event.preventDefault();
            mContent.ajax.get(contentUrlBase + $.lastClickedScheduledDay.events[0].id + "/approve", function (data) {
                    mContent.notify("Content approved.", "info");
                    mContent.loaders.workArea(deliveryPipeContentListUrl);
                }, function (error) {
                    console.log(error);
                    mContent.notify("Failed to approve content.", "warning");
                    mContent.loaders.workArea(deliveryPipeContentListUrl);
                });
            return false;
        };


            // Obsoleted
        function disapprove(event) {
            event.preventDefault();
            mContent.ajax.get(contentUrlBase + $.lastClickedScheduledDay.events[0].id + "/disapprove", function (data) {
                mContent.notify("Content disapproved.", "info");
                mContent.loaders.workArea(deliveryPipeContentListUrl);
            }, function (error) {
                console.log(error);
                mContent.notify("Failed to disapprove content.", "warning");
                mContent.loaders.workArea(deliveryPipeContentListUrl);
            });
            return false;
        };

        var initMenu = function() {
            $(".calendar-menu").find(".day:not(.past):not(.event)").attr("data-jq-dropdown", "#create-content-context-menu");
            $(".calendar-menu").find(".day:not(.past).event").attr("data-jq-dropdown", "#edit-content-context-menu");
            $(".calendar-menu").find(".day.past.event").attr("data-jq-dropdown", "#view-content-context-menu");
        };

        $(".calendar-menu").clndr({
            weekOffset: 1,
            events: /*[[${contents}]]*/ [],
            clickEvents: {
                click: function(target) {
                    window.debug = target;
                    $.lastClickedScheduledDay = target;
                    if(target.events.length > 0) {
                        $(".context-menu-content-title").text(target.events[0].title);
                        if (target.events[0].myStatus == "approved") {
                            $(".context-menu-approve").css("display", "none");
                            $(".context-menu-edit").css("display", "none");
                        }
                        if (target.events[0].myStatus == "disapproved" || target.events[0].myStatus == "pending_approval") {
                            $(".context-menu-view").css("display", "none");
                            $(".context-menu-disapprove").css("display", "none");
                        }
                    }
                },
                nextMonth: function(month){ initMenu();},
                previousMonth: function(month){ initMenu();},
                onMonthChange: function(month){ initMenu(); },
                today: function(month){ initMenu(); }
            }
        });


        initMenu();

            /*        $('#jq-dropdown-1').on('show', function(event, dropdownData) {
            console.log(dropdownData.trigger.context);
        }).on('hide', function(event, dropdownData) {
            $.lastClickedScheduledDay = null;
        });*/

        /*]]>*/
    </script>
    <div id="create-content-context-menu" class="jq-dropdown jq-dropdown-tip">
        <ul class="jq-dropdown-menu">
            <li><a onclick="createContent(event);">Create</a></li>
        </ul>
    </div>
    <div id="edit-content-context-menu" class="jq-dropdown jq-dropdown-tip">
        <ul class="jq-dropdown-menu">
            <li class="context-menu-content-title"></li>
            <li class="jq-dropdown-divider"></li>
            <li class="context-menu-edit">
                <a class="context-menu-edit" onclick="editContent(event);">Edit</a>
            </li>
            <li class="context-menu-view">
                <a class="context-menu-view" onclick="editContent(event);">View</a>
            </li>
            <li class="jq-dropdown-divider" sec:authorize="hasRole('ADMIN')"></li>
            <li class="context-menu-approve" sec:authorize="hasRole('ADMIN')">
                <a class="context-menu-approve" th:text="#{deliverable.status.approve}" onclick="changeStatus(event, 'approve');">Approve</a>
            </li>
            <li class="context-menu-disapprove" sec:authorize="hasRole('ADMIN')">
                <a class="context-menu-disapprove" th:text="#{deliverable.status.disapprove}" onclick="changeStatus(event, 'disapprove');">Disapprove</a>
            </li>
            <li class="jq-dropdown-divider" sec:authorize="hasRole('ADMIN')"></li>
            <li sec:authorize="hasRole('ADMIN')">
                <a th:text="#{general.remove}" onclick="removeContent(event);">Remove</a>
            </li>
        </ul>
    </div>
    <div id="view-content-context-menu" class="jq-dropdown jq-dropdown-tip">
        <ul class="jq-dropdown-menu">
            <li class="context-menu-content-title"></li>
            <li class="jq-dropdown-divider"></li>
            <li><a onclick="editContent(event);">View</a></li>
            <li class="jq-dropdown-divider" sec:authorize="hasRole('ADMIN')"></li>
            <li sec:authorize="hasRole('ADMIN')">
                <a th:text="#{general.remove}" onclick="removeContent(event);">Remove</a>
            </li>
        </ul>
    </div>
</div>
<div id="content-editor"></div>