<div class="delivery-pipe-remove" th:unless="${#lists.isEmpty(deliveryPipe)}">
    <form name="delivery-pipe-remove-form" class="pure-form pure-form-stacked" action="#" th:action="@{/deliverypipe/remove/} + ${deliveryPipe.id}"
          method="post">
        <div class="form-fields remove-form">
            <span th:if="${error} and ${errortext == null}" class="form-error" th:text="#{deliverypipe.error}">
                Error in delivery pipe data
            </span>
            <span th:if="${error} and ${errortext}" class="form-error" th:text="${errortext}">
                - No message -
            </span>
            <span th:if="${removed}" th:text="#{deliverypipe.removed}">
                Delivery pipe removed
            </span>
            <input type="hidden" name="id" th:value="${deliveryPipe.id}"/>

            <span th:unless="${error}" th:text="#{general.remove}+ ': ' + ${deliveryPipe.name}">Remove: Delivery pipe</span>
            <span th:if="${hasContent} and ${error == null}" class="form-warning" th:text="#{deliverypipe.warning.hascontent}">Warning! Delivery pipe has content.</span>
 
            <input type="hidden" th:name="remove" />
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </div>
        <br/>
        <div class="form-actions">
            <a th:unless="${error}" class="submit pure-button" th:text="#{general.remove}">Delete</a>
            <a class="cancel pure-button" th:text="#{general.cancel}">Cancel</a>
        </div>
    </form>
    <script th:inline="javascript">

        $(".submit").click(function (event) {
            var deliveryPipeListUrl = /*[[@{/content/list}]]*/;
                    event.preventDefault();
            mContent.popup.submit($(this).parents("form"),
                    function (data) {
                        mContent.alert.success("Remove successful");
                        mContent.loaders.workArea(deliveryPipeListUrl);
                    },
                    function (error) {
                        mContent.alert.error("Remove of delivery pipe failed", error);
                    }
            );
            return false;
        });
        $(".cancel").click(function (event) {
            event.preventDefault();
            mContent.popup.close(this);
            return false;
        });
    </script>
</div>