<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en">
        <title th:inline="text">mContent - [[${content.title}]]</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{|/lib/jquery/jquery-ui.min.css|}"/>
        <link rel="stylesheet" th:href="@{|/lib/pure/pure-0.6.0.min.css|}"/>
        <link rel="stylesheet" th:href="@{|/css/show.css|}"/>
        <link rel="stylesheet" th:href="@{|/theme/css/fashion.css|}"/>
    </head>
    <body>
        <div class="themed-content">
            <div class="content">
                <div class="workarea">
                    <h1>Subscription history</h1>
                    <div th:utext="${content.content}">&nbsp;</div>
                    <h2>Active</h2>
                    <p th:text="#{subscription.noActive}" th:if="${#lists.isEmpty(activelist)}">No active services</p>

                    <table class="pure-table" th:if="${not #lists.isEmpty(activelist)}">
                        <thead>
                            <tr>
                                <th th:text="#{subscription.service}">Service</th>
                                <th th:text="#{subscription.shortcode}">Shortcode</th>
                                <th th:text="#{subscription.expires}">Expires</th>
                                <!--<th>&nbsp;</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="subscriptionhistory : ${activelist}">
                                <td th:text="${subscriptionhistory.keyword}">Keyword</td>
                                <td th:text="${subscriptionhistory.code}">Shortcode</td>
                                <td th:text="${subscriptionhistory.expire}">Expires</td>
                            </tr>
                        </tbody>
                    </table>

                    <h2>Expired</h2>
                    <p th:text="#{subscription.noExpired}" th:if="${#lists.isEmpty(expiredlist)}">No expired services</p>

                    <table class="pure-table" th:if="${not #lists.isEmpty(expiredlist)}">
                        <thead>
                            <tr>
                                <th th:text="#{subscription.service}">Service</th>
                                <th th:text="#{subscription.shortcode}">Shortcode</th>
                                <th th:text="#{subscription.expired}">Expired</th>
                                <!--<th>&nbsp;</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="subscriptionhistory1 : ${expiredlist}">

                                <td th:text="${subscriptionhistory1.keyword}">Keyword</td>
                                <td th:text="${subscriptionhistory1.code}">Shortcode</td>
                                <td th:text="${subscriptionhistory1.expire}">Expired</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="user-menu">
                <div class="user-menu-content">
                    <form id="logout" th:action="@{/show/logout}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    </form>
                    <div sec:authorize="hasRole('ADMIN')">
                        <span class="view-subscriber" title="Not available in preview mode">Subscription history</span> | <span class="view-subscriber" title="Not available in preview mode">Discover</span> | <span class="view-subscriber" title="Not available in preview mode">Latest messages</span> | <a onclick="$('#logout').submit();">Logout</a>
                    </div>
                    <div sec:authorize="!hasRole('ADMIN')">
                        <a class="view-subscriber" th:href="@{|/show/subscriber/history|(uuid=${short_uuid})}">Subscription history</a> | <a th:href="@{|/show/discover|(uuid=${short_uuid})}">Discover</a> | <a th:href="@{|/show/messages|(uuid=${short_uuid})}">Latest messages</a> | <a onclick="$('#logout').submit();">Logout</a>
                    </div>
                </div><br/>
                <div class="copy">mContent Platform. All rights Reserved</div>
            </div>
        </div>
        <script th:src="@{|/lib/jquery/jquery.min.js|}"></script>
        <script th:src="@{|/lib/jquery/jquery-ui.min.js|}"></script>
        <script th:src="@{|/js/config.js|}"></script>
        <script th:src="@{|/js/show/show.js|}"></script>
    </body>
</html>
