<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en">
        <title>Main Page | mContent</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="css/lib/pure-0.6.0.min.css"/>
        <link rel="stylesheet" href="css/lib/multi-select.css"/>
        <link rel="stylesheet" href="css/lib/jquery.dropdown.min.css"/>
        <link rel="stylesheet" href="css/lib/clndr.css"/>
        <link rel="stylesheet" href="css/lib/summernote.css"/>
        <link rel="stylesheet" href="css/index.css"/>
    </head>
    <body>
        <div id="header" class="pure-menu pure-menu-horizontal">
            <ul id="menu" class="pure-menu-list">
                <li sec:authorize="hasAnyRole('ADMIN','PROVIDER')" class="pure-menu-item"><a class="pure-menu-link" th:href="@{/content/list}" onclick="loadToWorkArea(this, event);">Content management</a></li>
                <li sec:authorize="hasRole('ADMIN')" class="pure-menu-item"><a class="pure-menu-link" th:href="@{/provider/list}" onclick="loadToWorkArea(this, event);">Provider management</a></li>
                <li sec:authorize="hasRole('ADMIN')" class="pure-menu-item"><a class="pure-menu-link" th:href="@{/service/list}" onclick="loadToWorkArea(this, event);">Service management</a></li>
                <li sec:authorize="hasRole('ADMIN')" class="pure-menu-item"><a class="pure-menu-link" th:href="@{/subscriber/list}" onclick="loadToWorkArea(this, event);">Subscriber management</a></li>
            </ul>
            <div id="session-control" class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a class="pure-menu-link" th:inline="text">[[${#httpServletRequest.remoteUser}]]</a>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item">
                                <form id="logout" th:action="@{/logout}" method="post">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                </form>
                                <a class="pure-menu-link" onclick="$('#logout').submit();">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id="workarea">
            <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        </div>

        <script src="js/lib/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
        <script src="js/lib/jquery.multi-select.js"></script>
        <script src="js/lib/jquery.dropdown.min.js"></script>
        <script src="js/lib/underscore.min.js"></script>
        <script src="js/lib/moment.min.js"></script>
        <script src="js/lib/clndr.min.js"></script>
        <script src="js/lib/summernote.min.js"></script>
        <script src="js/common.js"></script>
    </body>
</html>
