<div class="provider-remove" th:unless="${#lists.isEmpty(provider)}">
    <form name="provider-remove-form" class="pure-form pure-form-stacked" action="#"
          th:action="@{/provider/remove/} + ${provider.id}" method="post">
        <div class="form-fields">
            <div th:if="${error}" class="alert alert-error" th:text="#{provider.error}">
                Error in provider data
            </div>
            <div th:if="${removed}" class="alert alert-success" th:text="#{provider.removed}">
                Provider removed
            </div>
            <input type="hidden" name="id" th:value="${provider.id}"/>

            <!-- <legend th:text="#{general.remove}">Remove</legend> -->

            <label for="name" th:text="#{provider.name}">Provider name</label>
            <input type="text" required="false" readonly="true" name="name" th:value="${provider.name}"/>

            <input type="hidden" name="state" th:value="${provider.state}"/>
            <input type="hidden" name="country" th:value="${provider.country}"/>
            <input type="hidden" name="phone" th:value="${provider.phone.number}"/>
            <input type="hidden" name="email" th:value="${provider.email.address}"/>
            <input type="hidden" name="username" th:value="${provider.user.username}"/>
            <input type="hidden" name="password" th:value="${provider.user.password}"/>
            <input type="hidden" name="nameOfContactPerson" th:value="${provider.nameOfContactPerson}"/>
            <input type="hidden" name="positionOfContactPerson" th:value="${provider.positionOfContactPerson}"/>
            <input type="hidden" name="phoneOfContactPerson" th:value="${provider.phoneOfContactPerson.number}"/>
            <input type="hidden" name="emailOfContactPerson" th:value="${provider.emailOfContactPerson.address}"/>
            <input type="hidden" name="contentName" th:value="${provider.contentName}"/>
            <input type="hidden" name="contentDescription" th:value="${provider.contentDescription}"/>
            <!-- <input type="hidden" name="correspondences" th:value="${provider.correspondences}"/> -->
            <input type="hidden" th:name="remove" />
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </div>
        <br/>
        <div class="form-actions">
            <a class="submit pure-button" th:text="#{general.remove}">Delete</a>
            <a class="cancel pure-button" th:text="#{general.cancel}">Cancel</a>
        </div>
    </form>
    <script th:inline="javascript">

        $(".submit").click(function (event) {
            var providerListUrl = /*[[@{|/provider/list|}]]*/;
                    event.preventDefault();
            mContent.popup.submit($(this).parents("form"),
                    function (data) {
                        mContent.notify("Remove successful", "info");
                        mContent.loaders.workArea(providerListUrl);
                    },
                    function (error) {
                        mContent.notify("Remove of provider failed", "error");
                    }
            );
            return false;
        });
        $(".cancel").click(function (event) {
            event.preventDefault();
            mContent.popup.close(this);
            return false;
        });
    </script>
</div>