<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <head lang="en">
        <title tiles:fragment="title">Register | mContent</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../css/lib/pure-0.6.0.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div tiles:fragment="register-content">
            <form name="register-form" class="pure-form" th:action="@{/register/provider}" method="post">
                <div th:if="${param.error}" class="alert alert-error" th:text="#{register.error}">
                    Errors in form
                </div>
                <label for="username" th:text="#{register.username}">Username</label>
                <input type="text" required="true" name="username"/>
                <label for="email" th:text="#{register.email}">Email</label>
                <input type="email" required="true" name="email"/>
                <label for="password" th:text="#{register.password}">Password</label>
                <input type="password" required="true" name="password"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="form-actions">
                    <button type="submit" class="btn" th:text="#{register.button}">Submit</button>
                </div>
            </form>
        </div>
    </body>
</html>
