<h1 th:inline="text">Provider list</h1>

    <div class="pagination">
        <ul class="pagination">
            <li th:class="${currentIndex == 1}? 'disabled' : '' ">
                <span th:if='${currentIndex == 1}'>First</span>                
                <a class="linktopage" th:if='${currentIndex != 1}'
                   th:href="@{|${baseUrl}/1|}" 
                   title='Go to first page'>First</a>
            </li>
            
            <li th:class="${currentIndex != 1}? '' : 'disabled' ">
                <span th:if='${currentIndex == 1}'>&lt;&lt;</span>
                <a class="linktopage" th:if='${currentIndex != 1}'
                   th:href="@{|${baseUrl}/${currentIndex - 1}|}"
                   title='Go to previous page'>&lt;&lt;</a>
            </li>

            <li th:each="item : ${#numbers.sequence(beginIndex, endIndex)}"
                th:class="${item == currentIndex ? 'active' : ''}">
                <span 
                    th:if='${item == currentIndex}' th:text='${item}'>1</span>
                    <a class="linktopage" th:if='${item != currentIndex}'
                       
                      th:href="@{|${baseUrl}/${item}|}">
                    <span th:text='${item}'>1</span>
                    </a>
            </li>

            <li th:class="${currentIndex != totalPageCount}? '' : 'disabled' ">
                <span th:if='${currentIndex == totalPageCount}'>&gt;&gt;</span>                
                <a class="linktopage" th:if='${currentIndex != totalPageCount}'
                   th:href="@{|${baseUrl}/${currentIndex + 1}|}"
                   title='Go to next page'>&gt;&gt;</a>
            </li>

            <li th:class="${currentIndex == totalPageCount}? 'disabled' : '' ">
                <span th:if='${currentIndex == totalPageCount}'>Last</span>                
                <a class="linktopage" th:if='${currentIndex != totalPageCount}'
                   th:href="@{|${baseUrl}/${totalPageCount}|}"
                   title='Go to last page'>Last</a>
            </li>
            
        </ul>
    </div>

<div class="provider-list" th:unless="${#lists.isEmpty(allProviders)}">
    <table class="pure-table table-striped  table-bordered">
        <thead>
            <tr>
                <th th:text="#{provider.name}">Name</th>
                <th th:text="#{provider.email}">Email</th>
                <th th:text="#{user.status}">Status</th>
                <th th:text="#{provider.pipecount}">Delivery pipes</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="provider : ${allProviders}">
                <td th:text="${provider.name}">NAME</td>
                <td th:text="${provider.emailOfContactPerson}">EMAIL</td>
                <td th:text="${provider.user.active} ? #{user.status.active} : #{user.status.inactive}">ACTIVE</td>
                <td th:text="${provider.pipeCount}">0</td>
                <td><!-- icon (?) -->
                    <a class="activate pure-button" th:unless="${provider.user.active}" th:href="@{|/user/${provider.user.id}/activate|}" th:text="#{user.status.activate}">Activate</a>
                    <a class="deactivate pure-button" th:if="${provider.user.active}" th:href="@{|/user/${provider.user.id}/deactivate|}" th:text="#{user.status.deactivate}">Deactivate</a>
                </td>
                <td><!-- icon (?) -->
                    <a class="view-provider pure-button" th:href="@{|/provider/${provider.id}|}"
                       th:text="#{general.view}">View</a>
                    <a class="del-provider pure-button" th:unless="${provider.user.active}" sec:authorize="hasAnyRole('ADMIN')"
                       th:href="@{|/provider/remove/${provider.id}|}"
                       th:text="#{general.remove}">Remove</a>
                    <label class="pure-button-disabled" th:if="${provider.user.active}" th:title="#{provider.cantremoveactive.tooltip}" sec:authorize="hasAnyRole('ADMIN')"
                           th:text="#{general.remove}">Remove</label>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--
<p><a href="serviceDetail.html"
      th:href="@{/service/create}"
      th:text="#{general.createNew}" onclick="loadToPopup('Create service', this, event);">Create new</a></p>
-->
<script th:inline="javascript">
    var providerListUrl = /*[[@{|/provider/list|}]]*/;

    $(".activate").click(function (event) {
        event.preventDefault();
        mContent.ajax.get($(this).attr('href'), function (data) {
            mContent.alert.success("Provider activated.");
            mContent.loaders.workArea(providerListUrl);
        }, function (error) {
            console.log(error);
            mContent.alert.error("Failed to activate provider.", error);
            mContent.loaders.workArea(providerListUrl);
        });
        return false;
    });

    $(".deactivate").click(function (event) {
        event.preventDefault();
        mContent.ajax.get($(this).attr('href'), function (data) {
            mContent.alert.success("Provider deactivated.");
            mContent.loaders.workArea(providerListUrl);
        }, function (error) {
            console.log(error);
            mContent.alert.error("Failed to deactivate provider.", error);
            mContent.loaders.workArea(providerListUrl);
        });
        return false;
    });

    $(".view-provider").click(function() {
        event.preventDefault();
        mContent.popup.load('View provider', $(this).attr("href"));
        return false;
    });
    $(".del-provider").click(function() {
        event.preventDefault();
        mContent.popup.load('Remove provider', $(this).attr("href"));
        return false;
    });
    $(".linktopage").click(function(event) {
        event.preventDefault();
        mContent.loaders.workArea($(this).attr("href"));
        return false;
    });

</script>