<div class="service-remove" th:unless="${#lists.isEmpty(service)}">
    <form name="service-remove-form" class="pure-form pure-form-stacked" action="#" th:action="@{/service/remove/} + ${service.id}"
          method="post">
        <div class="form-fields">
            <div th:if="${error}" class="alert alert-error" th:text="#{service.error}">
                Error in service data.
            </div>
            <div th:if="${error}" class="alert alert-error" th:text="${errortext}">
                - No message -
            </div>
            <div th:if="${removed}" class="alert alert-success" th:text="#{service.removed}">
                Service removed.
            </div>
            <input type="hidden" name="id" th:value="${service.id}"/>

            <label for="operator" th:text="#{service.operator}">Operator</label>
            <input type="text" required="false" readonly="true" name="operator" th:value="${service.operator}"/>

            <label for="shortCode" th:text="#{service.shortCode}">Short code</label>
            <input type="number" required="false" readonly="true" min="0" step="1" name="shortCode" th:value="${service.shortCode}"/>

            <label for="keyword" th:text="#{service.keyword}">Subscription keyword</label>
            <input type="text" required="false" readonly="true" name="keyword" th:value="${service.keyword}"/>

            <label for="deliveryPipe" th:text="#{service.deliveryPipe}">Delivery pipe</label>
            <select name="deliveryPipe" th:field="${service.deliveryPipe.id}">
                <option th:each="deliveryPipe : ${allDeliveryPipes}" th:value="${deliveryPipe.id}" th:text="${deliveryPipe.name}">Delivery pipe name</option>
            </select>

            <input type="hidden" th:name="remove" />
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </div>
        <br/>
        <div class="form-actions">
            <a class="submit pure-button" href="#" th:text="#{general.remove}">Remove</a>
            <a class="cancel pure-button" href="#" th:text="#{general.cancel}">Cancel</a>
        </div>
    </form>
</div>
<script th:inline="javascript">
    $(".submit").click(function(event) {
        var serviceListUrl = /*[[@{/service/list}]]*/;
        event.preventDefault();
        mContent.popup.submit($(this).parents("form"),
                function(data) {
                    mContent.notify("Remove successful", "info");
                    mContent.loaders.workArea(serviceListUrl);
                },
                function(error) {
                    mContent.notify("Remove of service failed", "error");
                }
        );
        return false;
    });

    $(".cancel").click(function(event) {
        event.preventDefault();
        mContent.popup.close(this);
        return false;
    });
</script>