<h1 th:inline="text">Service list</h1>
<!-- style to look like a button (?) -->
<a class="create-service"
   th:href="@{/service/create}"
   th:text="#{general.createNew}">Create new</a>
<div class="service-list" th:unless="${#lists.isEmpty(allServices)}">
    <table class="pure-table">
        <thead>
            <tr>
                <th th:text="#{service.operator}">Operator</th>
                <th th:text="#{service.shortCode}">Short code</th>
                <th th:text="#{service.keyword}">Keyword</th>
                <th th:text="#{service.subscriptionPeriod}">Subscription time</th>
                <th th:text="#{service.deliveryPipe}">Delivery pipe</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="service : ${allServices}">
                <td th:text="${service.operator}">OPERATOR</td>
                <td th:text="${service.shortCode}">00000</td>
                <td th:text="${service.keyword}">KEYWORD</td>
                <td th:text="${service.subscriptionPeriod}">SUBSCRIPTION TIME</td>
                <td th:text="${service.deliveryPipe.name}">DELIVERY PIPE</td>
                <td><!-- icon (?) -->
                    <a class="edit-service" th:href="@{|/service/${service.id}|}"
                       th:text="#{general.edit}">Edit</a></td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    $(".create-service").click(function() {
        event.preventDefault();
        mContent.popup.load('Create service', $(this).attr("href"));
        return false;
    });
    $(".edit-service").click(function() {
        event.preventDefault();
        mContent.popup.load('Edit service', $(this).attr("href"));
        return false;
    });
</script>
