<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en">
        <title th:inline="text">[[${content.title}]] | mContent</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/theme/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" href="/mContent/css/lib/pure-0.6.0.min.css"/>
        <link rel="stylesheet" href="/mContent/css/show.css"/>
        <link rel="stylesheet" th:href="@{|/css/theme/${theme}.css|}"/>
    </head>
    <body>
        <div id="header">
            <div class="header-content"></div>
        </div>
        <div id="workarea" th:utext="${content.content}">

        </div>
        <div id="footer">
            <div class="footer-content">
                <form id="logout" th:action="@{/show/logout}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                </form>
                <a href="#">Active subscriptions</a> | <a href="#">Discover content</a> | <a onclick="$('#logout').submit();">Logout</a>
            </div>
        </div>
        <script src="/mContent/js/lib/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="/mContent/js/show.js"></script>
    </body>
</html>
