<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en">
        <title th:inline="text">mContent -  [[${content.title}]]</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{|/lib/jquery/jquery-ui.min.css|}"/>
        <link rel="stylesheet" th:href="@{|/lib/pure/pure-0.6.0.min.css|}"/>
        <link rel="stylesheet" th:href="@{|/css/show.css|}"/>
        <link rel="stylesheet" th:href="@{|/theme/css/${theme}.css|}"/>
    </head>
    <body>
        <div id="ad-panel">
        </div>
        <div id="workarea" th:utext="${content.content}">

        </div>
        <div id="user-menu">
            <div class="user-menu-content">
                <form id="logout" th:action="@{/show/logout}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                </form>
                <a class="view-subscriber" th:href="@{|/show/subscriber/${subscriber}|}">Subscription history</a> | <a href="#">Discover</a> | <a onclick="$('#logout').submit();">Logout</a>
            </div>
        </div>
        <script th:src="@{|/lib/jquery/jquery.min.js|}"></script>
        <script th:src="@{|/lib/jquery/jquery-ui.min.js|}"></script>
        <script th:src="@{|/js/config.js|}"></script>
        <script th:src="@{|/js/show/show.js|}"></script>
        <script th:src="@{|/theme/js/${theme}.js|}"></script>
    </body>
</html>
