<h1 th:inline="text">SMS log</h1>
<div class="sms-log" th:unless="${#lists.isEmpty(messages)}">
    <table class="pure-table">
        <thead>
        <tr>
            <th th:text="#{smsmessage.from}">From</th>
            <th th:text="#{smsmessage.to}">To</th>
            <th th:text="#{smsmessage.message}">Message</th>
            <th th:text="#{smsmessage.created}">Created</th>
            <th th:text="#{smsmessage.sent}">Sent</th>
            <th th:text="#{smsmessage.tries}">Tries</th>
            <th th:text="#{smsmessage.log}">Log</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${messages}">
            <td th:text="${message.fromNumber}">FROM</td>
            <td><p th:each="receiver : ${message.receivers}" th:text="${receiver.number}">RECIEVER</p></td>
            <td th:text="${message.message}">MESSAGE</td>
            <td th:text="${message.created}">CREATED</td>
            <td th:text="${message.sent}">SENT</td>
            <td th:text="${message.tries}">TRIES</td>
            <td><p th:each="log : ${message.log.split('\n')}" th:text="${log}">LOG</p></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>