<div class="subscriber-detail" th:unless="${#lists.isEmpty(subscriber)}">
    <form name="detail-form" class="pure-form" action="#" th:action="@{/subscriber/} + ${subscriber.id}"
          method="post">
        <div class="form-fields">
            <div th:if="${error}" class="alert alert-error" th:text="#{subscriber.error}">
                Error in subscriber data.
            </div>
            <!-- <div th:if="${saved}" class="alert alert-success" th:text="#{subscriber.saved}">
                Subscriber saved.
            </div> -->
            <input type="hidden" name="id" th:value="${subscriber.id}"/>
            <table class="pure-table">
                <thead>
                    <tr>
                        <th th:text="#{subscription.operator}">Operator</th>
                        <th th:text="#{subscription.deliverypipe}">Delivery pipe</th>
                        <th th:text="#{subscription.status}">Status</th>
                        <th th:text="#{subscription.periods}">Period</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="subscription : ${subscriber.subscriptions}">
                        <td th:text="${subscription.service.operator}">Operator</td>
                        <td th:text="${subscription.service.deliverypipe.name}">Delivery pipe</td>
                        <td th:text="${subscription.status}">Status</td>
                        <td>
                            <table class="pure-table">
                                <thead>
                                    <tr>
                                        <th th:text="#{period.start}">Start</th>
                                        <th th:text="#{period.end}">End</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="period : ${subscription.periods">
                                        <td th:text="#{period.start}">Start</td>
                                        <td th:text="#{period.end}">End</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td><!-- icon (?) -->
                            <a class="del-subscription pure-button" sec:authorize="hasAnyRole('ADMIN')"
                               th:href="@{|/subscriber/${subscriber.id}/subscription/remove/${subscription.id}|}"
                               th:text="#{general.remove}">Remove</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </div>
        <br/>
        <div class="form-actions">
            <a class="cancel pure-button" href="#" th:text="#{general.cancel}">Cancel</a>
        </div>
    </form>
</div>
<script th:inline="javascript">
    $(".submit").click(function(event) {
        var serviceListUrl = /*[[@{/subscriber/} + ${subscriber.id}]]*/;
        event.preventDefault();
        mContent.popup.submit($(this).parents("form"),
                function(data) {
                    mContent.notify("Subscriber viewed", "info");
                    mContent.loaders.workArea(serviceListUrl);
                },
                function(error) {
                    mContent.notify("Subscriber view failed", "error");
                }
        );
        return false;
    });

    $(".cancel").click(function(event) {
        event.preventDefault();
        mContent.popup.close(this);
        return false;
    });
</script>