<div class="subscriber-detail" th:unless="${#lists.isEmpty(subscriber)}">
    <form name="detail-form" class="pure-form" action="#" th:action="@{/subscriber/} + ${subscriber.id}"
          method="get">
        <div class="form-fields">
            <div th:if="${error}" class="alert alert-error" th:text="#{subscriber.error}">
                Error in subscriber data.
            </div>
            <div th:if="${error} and ${errortext}" class="alert alert-error" th:text="${errortext}">
                - No message -
            </div>
            <input type="hidden" name="id" th:value="${subscriber.id}"/>
            <input type="checkbox" class="pure-checkbox" th:checked="${showAll}" required="false" th:name="showAll" th:text="#{subscription.showall}" th:value="${showAll}"/>
            <table class="pure-table">
                <thead>
                    <tr>
                        <th th:text="#{subscription.operator}">Operator</th>
                        <th th:text="#{subscription.deliverypipe}">Delivery pipe</th>
                        <th th:text="#{subscription.periods}">Periods</th>
                        <!--<th>&nbsp;</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="subscription : ${subscriber.subscriptions}" th:if="${subscription.active} or ${showAll}">
                        <td th:text="${subscription.service.operator}">Operator</td>
                        <td th:text="${subscription.service.deliveryPipe.name}">Delivery pipe</td>
                        <td>
                            <table class="pure-table">
                                 <tbody>
                                    <tr th:each="subscriptionPeriod : ${subscription.periods}">
                                        <td th:text="${#dates.format(subscriptionPeriod.start, 'yyyy-MM-dd')}">Start</td>
                                        <td th:text="${#dates.format(subscriptionPeriod.end, 'yyyy-MM-dd')}">End</td>
                                    </tr>
                                 </tbody>
                            </table>
                        </td>
                        <!-- <td>
                           <a class="del-subscription pure-button" sec:authorize="hasAnyRole('ADMIN')"
                               th:href="@{|/subscriber/${subscriber.id}/subscription/remove/${subscription.id}|}"
                               th:text="#{general.remove}">Remove</a>
                        </td> -->
                    </tr>
                </tbody>
            </table>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </div>
        <br/>
        <div class="form-actions">
            <a class="view-subscriptions pure-button" 
               th:href="@{|${reloadRef}|}"
               th:text="#{general.reload}">Reload</a>
            <a class="cancel pure-button" href="#" th:text="#{general.cancel}">Cancel</a>
        </div>
    </form>
</div>
<script th:inline="javascript">

    $(".view-subscriptions").click(function() {
        event.preventDefault();
        var showAll = $("[name='showAll']").prop("checked");
        mContent.popup.close(this);
        mContent.popup.loadWide('Subscriptions', $(this).attr("href")+"?showAll="+showAll);

        return false;
    });

    $(".cancel").click(function(event) {
        event.preventDefault();
        mContent.popup.close(this);
        return false;
    });
</script>