<div class="subscriber-remove" th:unless="${#lists.isEmpty(subscriber)}">
    <form name="subscriber-remove-form" class="pure-form pure-form-stacked" action="#" 
          th:action="@{/subscriber/remove/} + ${subscriber.id}" method="post">
        <div class="form-fields">
            <div th:if="${error}" class="alert alert-error" th:text="#{subscriber.error}">
                Error in service data.
            </div>
            <div th:if="${error} and ${errortext}" class="alert alert-error" th:text="${errortext}">
                - No message -
            </div>
            <div th:if="${removed}" class="alert alert-success" th:text="#{subscriber.removed}">
                Subscriber removed.
            </div>
            <input type="hidden" name="id" th:value="${subscriber.id}"/>

            <legend th:text="#{general.remove} + ': ' + ${subscriber.phone.number}">Remove: Subscriber</legend>

            <input type="hidden" th:name="remove" />
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </div>
        <br/>
        <div class="form-actions">
            <a class="submit pure-button" href="#" th:text="#{general.remove}">Delete</a>
            <a class="cancel pure-button" href="#" th:text="#{general.cancel}">Cancel</a>
        </div>
    </form>
    <script th:inline="javascript">
        $(".submit").click(function(event) {
            var subscriberListUrl = /*[[@{|/subscriber/list|}]]*/;
            event.preventDefault();
            mContent.popup.submit($(this).parents("form"),
                    function(data) {
                        mContent.alert.success("Remove successful");
                        mContent.loaders.workArea(subscriberListUrl);
                    },
                    function(error) {
                        mContent.alert.error("Remove of subscriber failed", error);
                    }
            );
            return false;
        });

        $(".cancel").click(function(event) {
            event.preventDefault();
            mContent.popup.close(this);
            return false;
        });
    </script>
</div>